/* Mobile Design  */

body {
    background-color: rgb(208, 208, 219);
}
.topnav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2; 
}
.topnav :visited{
    color: blue;
} 

.font {
    font-family: 'Squada One', cursive;
    text-decoration: underline;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 17px;

 
}

.font2 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 13px;
}

.image {
    position: relative; 
    text-align: center;
    border: 10px solid #000000;
}

#resize {
   width: 100%;
}

#aboutme {
    font-size: 20px; 
    font-family: 'Squada One', cursive;
    border: 8px solid #000000;
    border-radius: 35px 35px 35px 35px;
    margin: 8% 30% -3%;
    text-align: center;
    position: relative;
}

.footer {
    text-align: center;
}

#rob {
    margin-top: 8%;
}

#edueducation {
    width: 100%; 

}

#topimage {
    margin-top: 30px;
    width: 96%;
    border: 10px solid #000000;
}

/* For Bigger Screens  */

@media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;}
    
    .flexchange {
        width: 50%
    }
    .flextime {
        display: flex; 
    }

    #aboutme {
        font-size: 30px;
        margin: 4% 30% -1% 
    }
}
    
    