#topmargin {
    margin-top: 60px;
}

.font {
    font-family: 'Squada One', cursive;
    text-decoration: underline;
    font-size: 17px; 
}

.font1 {
    font-family: 'Roboto Mono', monospace;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
}

.image {
    position: relative; 
    margin-top: 8px;
    border: 10px solid #000000;
    text-align: center;
    width: 90%
}

body {
    background-color: rgb(208, 208, 219);
    text-align: center
}
.topnav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2; 

}
.topnav :visited{
    color: blue;
} 

#blog {
    font-size: 20px; 
    font-family: 'Squada One', cursive;
    border: 8px solid #000000;
    border-radius: 35px 35px 35px 35px;
    margin: 8% 34% 0%;
    position: relative;
}

