
body {
    background-color: rgb(208, 208, 219);
}
.topnav {
    
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2; 
}
.topnav :visited{
    color: blue;
} 

.images {
    border: 7px solid #000000;
    border-radius: 32px 32px 32px 32px;
    position: relative;
    width: 85%;
}

#rob {
    text-align: center;
}

.footer {
    text-align: center;
    padding-top: 15px;
}

#getintouch {
    font-size: 20px; 
    font-family: 'Squada One', cursive;
    border: 10px solid #000000;
    border-radius: 35px 35px 35px 35px;
    margin: 8% 35% 2%;
    text-align: center;
}