@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Squada+One&display=swap');

/* For Mobile  */
body {
    background-color: rgb(208, 208, 219);
}
selector:pseudo-class {
    property: value;
  }
.topnav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}
.topnav :visited{
    color: blue;
} 

.sectionheading {
   margin-top: 5px;
}

#wedding {
    width: 93.3%;
    border: 10px solid #000000;  
    margin-top: -10px; 
}

.flexbox {
    display: flex; 
    justify-content: space-evenly;
}

#basketball {
    width: 96%; 
    border: 10px solid #000000;

}
.homepage {
    flex-basis: 50%; 
}

.font {
    font-family: 'Squada One', cursive;
    text-decoration: underline;
    font-size: 17px; 
    margin-top: -2px;
    text-align: center; 
}

.font2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    margin-top: -5px; 
}

.footer {
    text-align: center;
    padding-top: 30px;

}

#welcomeheading {
    font-size: 20px; 
    font-family: 'Squada One', cursive;
    border: 8px solid #000000;
    border-radius: 15px 15px 15px 15px;   
    margin: 8% 34% 3%;
    text-align: center;
    position: relative;
}

#codephoto {
    text-align: center;
}

.sectionheadinglastp {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}

.hide-small {
    display: none; 
}

.hide-large {
    display: initial; 
}

/* For Larger Screens   */

@media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
    .font {
      font-size: 20px; 
    }

    .font2 {
        font-size: 17px;
    }

    #welcomeheading {
        font-size: 35px;
        margin: 4% 34% 2%;
    }

    .hide-small {
        display: initial;
    }

    .hide-large {
        display: none;
    }

    .wedding {
        width: 94.3%;
    }
}

