body {
    background-color: rgb(208, 208, 219);
}

.flexbox1 {
    display: block; 
    text-align: center;
}
.robbiecolborne {
    font-size: 42px;
    margin: 7%;
    text-align: left;
    font-family: 'Squada One', cursive;
}

.robbiecolborne1 {
    font-size: 72px;
    margin: 7%;
    text-align: right;
    font-family: 'Squada One', cursive;
  
}

.middle {
    text-align: center;
    font-size: 70px; 
    font-family: 'Roboto Mono', monospace;
  
}

.texting {
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

@keyframes flicker-o {
    10% { color: rgba(255, 255, 0, 0.776); }
    30% { color: rgba(0, 0, 0, 0.776); }
    50% { color: rgba(255, 255, 0, 0.776); }
    80% { color: rgba(0, 0, 0, 0.776); }
    100% { color: rgba(255, 255, 0, 0.776); }
}

.animation1 {
    position: relative;
    /* top: 20%; */
    /* width: 10%; */
    margin: 0;
    color: yellow; 
    text-shadow: 0 0 20px red; 
    animation: flicker-o linear infinite 5s; 
}

.animation1:after {
    content: attr(data-text);
    /* position: absolute; */
    top: 0;
    left: 0;
    /* padding: 0 20px;  */
    /* z-index: -1;  */
    color: pink; 
    filter: blue(15px); 
}

.animation1:before {
    content: '';
    /* position: absolute; */
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%; */
    /* background: red; */
    /* z-index: -2;  */
    opacity: 1; 
    filter: blur(40px);
}

@media only screen and (min-width: 1000px) {
    .flexbox1 {
        display: block; 
        display: flex;
        justify-content: center;
    }

    }

