body {
    background-color: rgb(208, 208, 219);
}

.flexbox1 {
    display: flex;
    justify-content: center;
    position: relative;
}
.robbiecolborne {
    font-size: 42px;
    margin: 7%;
    text-align: left;
    font-family: 'Squada One', cursive;
 
}

.robbiecolborne1 {
    font-size: 42px;
    margin: 7%;
    text-align: right;
    font-family: 'Squada One', cursive;
  
}

.middle {
    text-align: center;
    font-size: 30px; 
    font-family: 'Roboto Mono', monospace;
  
}

.texting {
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}